body{
    color: #ffffff;
}


input[type="range"] {
    width: 30%;
    max-height: 1vh;
    border-radius: 10px;
    cursor: pointer;
    margin: 4vh 0;
    background-color: #ff4866;
    /* color: #ff4866; */
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {

    -webkit-appearance: none;
    background: #ff4866;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

